body
{
    color: white;
    margin: 0;
    background: black;
    text-align: center;
}

.two-button {
    background-color: white;
    border: none;
    color: black;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
}

.two-button:hover{
    background-color: gray;
    color:white;
}

.container {
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center; /* vetical centering */
    gap: 20px; /* space between image and text */
    border: none;
    padding: 10px;
}

.image-container {
    
}

.text-container{
    
}

.image-container img{
    max-width: 450px; /* image size */
    height: 300px;
    display: block; /* removes default bottom margin */
}

.details-link {
    color:white;
}

.details-link:link {
    color:white;
}

.details-link:visited {
    color:white;
}

.details-link:hover {
    color:yellow;
}

p{
    white-space: pre-line;
}